header {
	padding-inline: 1rem;
	padding-block: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu {
	display: none;
}

header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.header-container i {
	block-size: 1.5rem;
	inline-size: 1.5rem;
	font-size: 1.5rem;
}

@media screen and (min-width: 64rem) {
	header .wrapper {
		inline-size: 100%;
		inline-size: 68.75rem;
	}

	.icon-menu {
		display: none;
	}
	.header-menu {
		display: flex;
		gap: 2.5rem;
	}
	.header-menu a {
		font: var(--button);
		color: var(--primary);
		text-decoration: none;
	}
}
