.niko-img {
	display: flex;
	justify-content: flex-end;
}
.niko-img img {
	block-size: 19rem;
	inline-size: 19rem;
	position: absolute;
	z-index: 2;
}

.niko-content {
	display: flex;
	flex-direction: column;
	padding-block: 4rem;
	padding-inline: 1.5rem;
	background: var(--secondary);
	gap: 1rem;
	block-size: 26.12rem;
	inline-size: 18rem;
	position: absolute;
	z-index: 1;
	margin-block-start: 16rem;
}

.niko-content-primary {
	margin-block-start: 18rem;
	margin-inline-start: 1.35rem;
	padding-block: 4rem;
	padding-inline: 1.5rem;
	block-size: 26.12rem;
	inline-size: 18rem;
	background: var(--primary);
	position: relative;
}

.niko-content > h4,
p {
	margin: 0;
	padding: 0;
}

.niko-content h4 {
	text-align: left;
}

.niko-content p {
	font: var(--body1);
}

.proyects-niko {
	padding-block-end: 5rem;
}

@media screen and (min-width: 64rem) {
	.proyects-container {
		border: 1px solid #a5c71b;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.proyects-niko {
		inline-size: 58.5rem;
		border: 1px solid red;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 100px);
	}
	.niko-img {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.niko-img img {
		block-size: 19rem;
		inline-size: 19rem;
	}
	.niko-content {
		border: 1px solid red;
		grid-column-start: 2;
		grid-column-end: 7;
		background: var(--secondary);
		gap: 1rem;
		block-size: 26.12rem;
		inline-size: 18rem;
		position: absolute;
		z-index: 1;
		margin-block-start: 16rem;
	}
}
